.gallery__body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px 10px;
}

.gallery__header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.gallery .card {
    min-height: 150px;
    min-width: 200px;
    width: 100%;
    height: 100%;
}

.filterForm {
    gap: 20px;
    width: 300px;
}

.filterForm input {
    padding: 5px 5px 5px 10px;
}
